<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vue Sandbox</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
    <div id="app">
        <p v-once>{{ title }}</p>
        <hr>
        <p>{{ sayHello() }} - <a :href="link">Google</a></p>
        <hr>
        <p v-html="finishedLink"></p>
        <hr>
        <button @click="counter++">+1</button>
        <button @click="counter--">-1</button>
        <p>Counter: {{ counter }}</p>
        <p>Result: {{ result() }} | {{ output }}</p>
        <hr>
        <button @click="increaseMore(2, $event)">+2</button>
        <p>Counter: {{ counter2 * 2 }}</p>
        <p>Result: {{ counter2 * 2 > 10 ? 'Greater than 10' : 'Smaller than 10'}}</p>
        <hr>
        <p @mousemove="updateCoordinate">Coordinates: {{ x }} / {{ y }} - <span @mousemove.stop.prevent>DEAD
                SPOT</span></p>
        <hr>
        <p>Key Modifiers</p>
        <input type="text" @keyup.enter="alertMe">
        <hr>
        <p>Alert Button</p>
        <button @click="alertMe">Alert!</button>
        <hr>
        <p>Type for immediate response</p>
        <input type="text" @keydown="value = $event.target.value">
        <p>{{ value }}</p>
        <hr>
        <p>Press enter for response</p>
        <input type="text" @keydown.enter="value2 = $event.target.value">
        <p>{{ value2 }}</p>
        <hr>
        <p>2 Way Databinding</p>
        <input type="text" v-model="name">
        <p>{{ name }}</p>
        <hr>
        <p v-if="show">You can see me?</p>
        <p v-else>Now you see me!</p>
        <template v-if="show">
            <h1>Heading</h1>
            <p>Inside a template</p>
        </template>
        <p v-show="show">Do you see me?</p>
        <button @click="show = !show">Switch</button>
        <hr>
        <ul>
            <li v-for="(ingredient, i) in ingredients">{{ ingredient }} ({{ i }})</li>
        </ul>
        <hr>
        <ul>
            <li v-for="person in persons">
                <div v-for="(values, key, index) in person">{{ key }}: {{ values }} ({{ index }})</div>
            </li>
        </ul>
        <hr>
        <template v-for="(ingredient, index) in ingredients">
            <h1>{{ ingredient }}</h1>
            <p>{{ index }}</p>
        </template>
    </div>
    <script>
        new Vue({
            el: '#app',
            data: {
                title: 'Hello World!',
                link: 'http://google.com',
                finishedLink: '<a href="http://google.com">Google</a>',
                counter: 0,
                counter2: 0,
                x: 0,
                y: 0,
                value: '',
                value2: '',
                name: 'Robert',
                show: true,
                ingredients: ['meat', 'fruit', 'cookies'],
                persons: [{
                        name: 'Robert',
                        age: 22,
                        color: 'yellow'
                    },
                    {
                        name: 'Alex',
                        age: 21,
                        color: 'red'
                    }
                ]
            },
            computed: {
                output: function () {
                    return this.counter > 5 ? 'Greater than 5' : 'Smaller than 5'
                }
            },
            watch: {
                counter: function (value) {
                    var vm = this;
                    setTimeout(function () {
                        vm.counter = 0;
                    }, 3000);
                }
            },
            methods: {
                sayHello: function () {
                    this.title = 'Hello!'
                    return this.title;
                },
                result() {
                    return this.counter > 5 ? 'Greater than 5' : 'Smaller than 5'
                },
                increaseMore: function (step, event) {
                    this.counter2 += step;
                },
                updateCoordinate: function (event) {
                    this.x = event.clientX;
                    this.y = event.clientY
                },
                alertMe: function () {
                    alert('Alert!');
                },
                // increase: function () {
                //     this.counter++;
                //     this.result = this.counter > 5 ? 'Greater than 5' : 'Smaller than 5'
                // },
                // decrease: function () {
                //     this.counter--;
                //     this.result = this.counter > 5 ? 'Greater than 5' : 'Smaller than 5'
                // },
                // dummy: function(event) {
                //     event.stopPropagation();
                // }
            }
        });
    </script>
</body>

</html>